body{
    background-color: #F9F5FF;
    text-align: left;
    margin: 0px;
    font-family: 'Poppinss', sans-serif;
}

header,
footer{
    background-color: #998FC7;
    overflow: hidden;
    padding: 14px 16px;
    margin: 0px;
}

header,
footer,
main{
    padding: 15px;
}

header ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

header ul li{
    display: inline-block;
}

header ul li a{
    color:#F9F5FF;
    background-color: #998FC7;
    padding: 14px 16px;
}

header ul li a:hover{
    background-color: #D4C2FC
}

main{
    max-width: 800px;
    margin: 0 auto;
}

footer p{
    color:#F9F5FF;
    max-width: 800px;
    margin: 0 auto;
}

form{
    max-width: 400px;
    margin: 0 auto;
}

input,
textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label{
    font-weight: bold;
    display: block;
}

textarea{
    min-height: 120px;
    resize: vertical;
}

button{
    padding: 10px;
    background-color: #998FC7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #D4C2FC;
}

.profile-photo{
    float: right;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 4px solid #998FC7;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

th{
    background-color: #998FC7;
    color: #F9F5FF;
    text-align: left;
    padding: 10px;
}

td{
    padding: 10px;
    border-bottom: 1px solid #D4C2FC;
}

